@{
    ViewBag.Title = "Главная";
}

<h1>Учет товаров SOTOMARKET</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Справочники</h2>
        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("Категории товаров", "", "GoodsCategory")</li>
            <li class="list-group-item">@Html.ActionLink("Подкатегории товаров", "", "GoodsSubCategory")</li>
            <li class="list-group-item">@Html.ActionLink("Товары", "", "Goods")</li>
            <li class="list-group-item">@Html.ActionLink("Поставщики", "", "Supplier")</li>
        </ul>

    </div>
    <div class="col-md-4">
        <h2>Операции</h2>
        <ul class="list-group">
            <li class="list-group-item">@Html.ActionLink("Приход", "", "Income")</li>
            <li class="list-group-item">@Html.ActionLink("Заказ", "", "Order")</li>
            <li class="list-group-item">@Html.ActionLink("Продажа", "", "Sale")</li>
        </ul>

    </div><div class="col-md-4">
    <h2>Отчеты</h2>
    <ul class="list-group">
        <li class="list-group-item">@Html.ActionLink("Отчет по сотрудникам", "Employees", "Reports")</li>
        <li class="list-group-item">@Html.ActionLink("Отчет по продажам", "Sales", "Reports")</li>
    </ul>

</div>
</div>