@model IEnumerable<Sotomarket.Models.GoodsCategoryViewModel>

@{
    ViewBag.Title = "Категории товаров";
}

<h2>Категории товаров</h2>

<p>
    @Html.AllowedActionLink("Добавить", "Create",null,new { @class="btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.AllowedActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class="btn btn-default" })
            
            @Html.AllowedActionLink("Удалить", "Delete", new { id = item.Id },new { @class="btn btn-danger delete-btn" })
        </td>
    </tr>
}

</table>
