@model IEnumerable<Sotomarket.Models.GoodsViewModel>

<table class="table table-hover" id="goodsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodsCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodsSubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @{
                var showButtons = ViewBag.HideEditBtn != true && (Html.Allowed("Edit") || Html.Allowed("Delete"));
            }
            @if (showButtons)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-rowid="@(item.Id)">
                <td class="container-Name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="container-Brand">
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td class="container-ProductCode">
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td class="container-GoodsCategory">
                    @Html.DisplayFor(modelItem => item.GoodsCategory)
                </td>
                <td class="container-GoodsSubCategory">
                    @Html.DisplayFor(modelItem => item.GoodsSubCategory)
                </td>
                <td class="container-GoodsPrice">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (showButtons)
                {
                    <td>
                        @Html.AllowedActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.AllowedActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-danger delete-btn" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
